NET "clockin" LOC="B8";
NET "clr" LOC="A7";
NET "row<0>" LOC="C5";
NET "row<1>" LOC="B6";
NET "row<2>" LOC="C6";
NET "col<0>" LOC="D12";
NET "col<1>" LOC="C13";
NET "col<2>" LOC="A13";
NET "col<3>" LOC="C12";
NET "data<0>" LOC="M12";
NET "data<1>" LOC="L13";
NET "data<2>" LOC="P12";
NET "data<3>" LOC="N11";
NET "data<4>" LOC="N14";
NET "data<5>" LOC="H12";
NET "data<6>" LOC="L14";
NET "keyp" LOC="G1";
NET "sel" LOC="N3";
NET "opcode<0>" LOC="P11";
NET "opcode<1>" LOC="L3";
NET "opcode<2>" LOC="K3";
NET "opcode<3>" LOC="B4";
NET "an<0>" LOC="F12";
NET "an<1>" LOC="J12";
NET "an<2>" LOC="M13";
NET "an<3>" LOC="K14";
NET "dp" LOC="N13";